@charset "UTF-8";
/* ******************************************************************

	--style.css--
************************************************************************/

/*-------------------------------------------------------
header
---------------------------------------------------------*/
header {

}

/*-------------------------------------------------------
content
---------------------------------------------------------*/
.button {
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #525252;
    text-align: center;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    padding: 3px 54px;
    position: relative;
    -webkit-transition: 0.3s cubic-bezier(0.13, 0.78, 0.38, 0.98);
    transition: 0.3s cubic-bezier(0.13, 0.78, 0.38, 0.98);
    -webkit-transition-property: background-color, color, border-color, -webkit-box-shadow;
    transition-property: background-color, color, border-color, -webkit-box-shadow;
    transition-property: background-color, color, border-color, box-shadow;
    transition-property: background-color, color, border-color, box-shadow, -webkit-box-shadow;
    text-decoration: none;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	margin: 0 auto;
    max-width: 628px;
    min-height: 80px;
    border-radius: 40px;
}

.button:hover .button_decoration {
    border-color: #00997e;
    color: #ffffff;
    text-decoration: none;
    -webkit-box-shadow: 0.5px 0 0 0 #00997e inset, -0.5px 0 0 0 #00997e inset;
    box-shadow: 0.5px 0 0 0 #00997e inset, -0.5px 0 0 0 #00997e inset;
	-webkit-transform: translate(-50%, -50%) scale(2.1);
    transform: translate(-50%, -50%) scale(2.1);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.button_decoration {
	display: block;
	z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 100%;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transition: 0.3s cubic-bezier(0.13, 0.78, 0.38, 0.98);
    transition: 0.3s cubic-bezier(0.13, 0.78, 0.38, 0.98);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: #00997e;
}
.button_text {
    position: relative;
	color: #ff0000;
	z-index: 2;
    font-size: 1.4rem;
}


/*-------------------------------------------------------
footer
---------------------------------------------------------*/
